  <div class="giant-jumbo-all-div">
    <div class="giant-jumbo-image-div giant-background-jumbo-jobs">
        <%= render partial: "section_logos" %>
    </div>
    <div class="giant-jumbo-content-div giant-jumbo-content-offset-jobs">
      <h1 class="giant-jumbo-text-breaks1">
          TAKE THE NEXT STEP.<br>
          WE'VE GOT YOU COVERED.
      </h1>
      <h1 class="giant-jumbo-text-breaks2">
          TAKE THE NEXT<br>
          STEP. WE'VE GOT<br>
          YOU COVERED.
      </h1>
    </div>
  </div>
