<header>
  <!-- bootstrap, based on http://getbootstrap.com/examples/carousel/ --> 
  <div>
  </div>
  <div class="navbar-wrapper">
    <div class="container-fluid">
      <div class="row giant-header-top-row">
        <div class="giant-header-top-column">
          <a class="brand giant-header-brand" href="/">
            <img src="/assets/giant-brand.png"></img>
          </a>
        </div>
        <div class="giant-header-top-column giant-header-top-column-title">
          <h1 class="giant-header-heading">Recruiting for User Experience + Creative + Marketing</h1>
        </div>
        <div class="giant-header-top-column">
          <a class="brand giant-header-brand" href="/">
            <img src="/assets/giant-brand-empty.png"></img>
          </a>
        </div>
      </div> <!-- row -->
      <div class="row">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div> <!-- navbar-header -->
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="#">Home</a></li> -->
                <li><a href="/pages/clients">FOR CLIENTS</a></li>
                <li class="giant-navbar-separator">&nbsp;</li>
                <li><a href="/pages/candidates">FOR CANDIDATES</a></li>
                <li class="giant-navbar-separator">&nbsp;</li>
                <li><a href="/jobs">OPEN JOBS</a></li>
                <li class="giant-navbar-separator">&nbsp;</li>
                <li><a href="/pages/contact">CONTACT US</a></li>
                <!--
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                -->
              </ul>  <!-- nav -->
            </div> <!-- navbar-collapse -->
          </div> <!-- container -->
        </div> <!-- navbar -->
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- navbar-wrapper -->
</header>
