<header>
  <hgroup>
    <div id="header-titles">
      <h1>Giant</h1>
      <h2>The Recruiting Agency for Interaction + Creative + Marketing Talent</h2>
    </div>
  </hgroup>
  <nav>
    <a href="/"           class="<%=tab=="welcome" ? "selected" : ""%>"
      >About Giant</a>
    <a href="/codes"      class="<%=tab=="jobs"    ? "selected" : ""%>"
      >Open Jobs</a>
    <a href="/diagrams"   class="<%=tab=="contact" ? "selected" : ""%>" 
      >Contact Us</a>
  </nav>
</header>
