<%= render partial: "shared/header", locals: { tab:@virtual_path[/^[^\/]+/] } %>

<div class="container-fluid">
<div class='row'>
  <div class="jumbotron">
    <h1>AT GIANT,
    <br>WE PLACE THE BRIGHTEST
    <br>AND MOST TALENTED CANDIDATES</h1>
  </div> <!-- jumbotron -->
</div> <!-- row -->
<div class='row'>
  <div class='col-xs-12 col-sm-6'>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Want to Hire?</h2>
      </div>
      <div class="panel-body">
        <p>Need to fill a single position or an entire team?<br>
          Whether it's full-time or contract,<br>
           Giant Recruiting is here to help.</p>
        <button type="button" class="btn btn-primary">
          <!-- <a href="hire"> -->
            REQUEST TALENT
          <!-- </a> -->
        </button>
      </div>
    </div> <!-- /panel -->
  </div> <!-- /col -->
  <div class='col-xs-12 col-sm-6'>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Want a new Job?</h2>
      </div>
      <div class="panel-body">
        <p>Looking for a job has never been a easier.<br>
          Giant's experts will advise you every<br>
            step of the way.</p>
        <button type="jobs" class="btn btn-primary">
          <!-- <a href="hire"> -->
            OPEN JOBS
          <!-- </a> -->
        </button>
      </div>
    </div> <!-- /panel -->
  </div> <!-- /col -->
</div> <!-- /row -->
<div class="row">
  <div class='col-sm-1'>
  </div>
  <div class='col-xs-10'>
    <div class="panel panel-secondary">
      <div class="panel-heading">
        <h2 class="panel-title">What We Specialize In</h2>
      </div>
      <div class="panel-body">
        <div class='col-sm-4'>
          <ul id="role_list_a">
            <li>UI/UX Designer</li>
            <li>Front End Developer (HTML5,CSS3)</li>
            <li>Product Designer</li>
            <li>iOS Developer</li>
            <li>3D Animator / Game Designer</li>
            <li>Motion Graphics Telent</li>
            <li>Video Editor</li>
            <li>Producer / Project Manager</li>
            <li>Web Content Strategist</li>
            <li>Media Buyer</li>
            <li>Media Planner</li>
          </ul>
        </div> <!-- /col -->
        <div class='col-sm-4'>
          <ul id="role_list_b">
            <li>Creative Director</li>
            <li>Art Director</li>
            <li>Graphic Designer / Web Designer</li>
            <li>Production Talent</li>
            <li>Project Manager</li>
            <li>Presentation Specialist (PowerPoint)</li>
            <li>Account Manager / Director</li>
            <li>Studio Manager / Director</li>
            <li>Copywriter</li>
            <li>Proofreader / Editor</li>
            <li>Account Executive</li>
          </ul>
        </div> <!-- /col -->
        <div class='col-sm-4'>
          <ul id="role_list_c">
            <li>Social Media Strategist</li>
            <li>Bi Analyst</li>
            <li>Product Manager</li>
            <li>Marketing Manager</li>
            <li>Marcom Manager</li>
            <li>Email Marketing Manager</li>
            <li>Market Research</li>
            <li>Consumer Promotions</li>
            <li>Online Marketing</li>
            <li>SEO/SEM</li>
            <li>Social Media Web Analytics</li>
          </ul>
        </div> <!-- /col -->
      </div> <!-- /panel-body -->
    </div> <!-- /panel -->
  </div> <!-- /col -->
  <div class='col-sm-1'>
  </div> <!-- /col -->
</div> <!-- /row -->
</div> <!-- /container -->

<%= render partial: "shared/footer" %>
