<%= render partial: "header", locals: { tab:@virtual_path[/^[^\/]+/] } %>
<div class="giant-page-home-all-div">
  <div class="giant-page-home-jumbo-all-div">
    <div class="giant-page-home-jumbo-bundle-div">
      <div class="giant-page-home-jumbo-cluster-empty-div">
      </div>
      <div class="giant-page-home-jumbo-cluster-text-div">
        <h1>SHAPE THE FUTURE
        <br>OF YOUR COMPANY.
        <br>HIRE THE BEST.</h1>
        <div class="giant-page-home-jumbo-group-buttons-div">
          <%= render partial: "button_open_jobs" %>
          &nbsp;
          <%= render partial: "button_request_talent" %>
        </div>
      </div>
    </div>
  </div>
  <div class="giant-page-home-roles-all-div">
    <div class="giant-page-home-roles-caption-all-div">
       <div class="giant-page-home-roles-caption-tab-div">
         <img src="/assets/giant-roles-tab.png"></img>
       </div>
      <h2 class="giant-page-home-roles-caption-text-heading">
        POPULAR ROLES WE FILL
      </h2>
    </div>
    <div class="giant-page-home-roles-list-all-div">
      <div class="giant-page-home-roles-list-bundle-empty-div">
      </div>
      <div class="giant-page-home-roles-list-bundle-filled-div">
        <div class='giant-page-home-roles-list-single-div'>
          <ul id="role_list_a">
            <li>VP of Product</li>
            <li>Director of Product</li>
            <li>Product Manager</li>
            <li>Information Architect</li>
            <li>Product Designer (UI/UX)</li>
            <li>UX Designer (web / mobile)</li>
            <li>UI Designer (web / mobile)</li>
            <li>UX Researcher</li>
            <li>Content Strategist</li>
            <li>Front End Developer</li>
            <li>3D Animator / Technical Artist</li>
            <li>Brand Manager</li>
            <li>Game Producer</li>
            <li>Animator</li>
            <li>Motion Graphics</li>
            <li>Video Editor</li>
          </ul>
        </div>
        <div class='giant-page-home-roles-list-single-div'>
          <ul id="role_list_b">
            <li>Executive Creative Director</li>
            <li>Creative Director</li>
            <li>Associate Creative Director</li>
            <li>Art Director</li>
            <li>Interactive Designer</li>
            <li>Visual Designer (integrated)</li>
            <li>Graphic Designer (brand)</li>
            <li>Package Designer</li>
            <li>Production Designer</li>
            <li>Project Manager</li>
            <li>Digital Producer</li>
            <li>Traffic Coordinator</li>
            <li>Traffic Manager</li>
            <li>Presentation Specialist</li>
            <li>Digital Strategist</li>
            <li>Account Manager / Director</li>
            <li>Studio Manager / Director</li>
            <li>Copywriter</li>
            <li>Proofreader / Editor</li>
            <li>Account Executive</li>
            <li>Media Buying</li>
            <li>Media Planning</li>
            <li>Brand Ambassador</li>
          </ul>
        </div>
        <div class='giant-page-home-roles-list-single-div'>
          <ul id="role_list_c">
            <li>Corporate/PR Communications</li>
            <li>Marcom</li>
            <li>Creative Services</li>
            <li>Brand Marketing</li>
            <li>Product Marketing</li>
            <li>Social Media</li>
            <li>Digital Campaigns</li>
            <li>Demand Generation</li>
            <li>Email Marketing (CRM)</li>
            <li>Online Marketing</li>
            <li>SEO/SEM</li>
            <li>Events</li>
            <li>Marketing Operations</li>
            <li>Digital / Web Analytics</li>
            <li>Business Intelligence (BI)</li>
            <li>Market Research</li>
            <li>Consumer Promotions</li>
          </ul>
        </div>
      </div>
      <div class="giant-page-home-roles-list-bundle-empty-div">
      </div>
    </div>
  </div>
</div>
<%= render partial: "footer" %>
