<%= render partial: "shared/header", locals: {tab: @virtual_path[/^[^\/]+/]} %>

<div class="container-fluid">
<div class="row">
  <h2><span class="giant-heading-bullet">&nbsp;&nbsp;</span>ABOUT US</h2>
</div>
<div class="row">
  <div class='col-sm-6'>
    <p>We support clients by providing talented candidates for full
      time and contract positions for a wide range of creative,
      marketing and technology roles. Whether you need to fill a
      single position or need and entire team, we can scale with
      your needs. From junior to senior levels... we find, screen, test
    </p> 
  </div> <!-- /col -->
  <div class='col-sm-6'>
    <p>and pre-qualify all levels of candidates using the latest
      methods and technologies. Talking people into taking an
      opportunity that doesn't fulfill the need isn't sustainable
      and we're in the longer growth, not the short term profit.
    </p> 
  </div> <!-- /col -->
</div> <!-- /row -->
  <div class='col-sm-3'>
    <h3>Full Time Placement</h3>
    <p>We will identify, recruit and
       prequalify all levels of candidates
    </p>
    <h3>Freelance & Contract</h3>
    <p>Need someone for a specific project?
       We have just the right talent you're looking for. 
    </p>
    <h3>Contract to Hire</h3>
    <p>Try before you buy is a popular way
       to test out a candidate before hiring FT.
    </p>
  </div> <!-- /col -->
  <div class='col-sm-3'>
  </div> <!-- /col -->
  <div class='col-sm-6'>
    <h3>Payroll and Liability</h3>
    <p>You can outsource payroll and liability for freelance or
       contract to hire situations
    </p>
    <h3>Portfolio Reviews</h3>
    <p>We provide professional feedback to our candidates
       portfolios of work
    </p>
    <h3>Interview Training &<br>Facilitaion</h3>
    <p>We not only train junior candidates, we also schedule and
       arrange interviews at your convenience
    </p>
  </div> <!-- /col -->
</div> <!-- /row -->
<div class="row">
  <h1>CLIENT LIST</h1>
</div> <!-- /row -->
</div> <!-- /container -->

<%= render partial: "shared/footer" %>
