<%= render partial: "shared/header", locals: {tab: @virtual_path[/^[^\/]+/]} %>

<div class="container-fluid">
<div class="row">
  <h1>ABOUT US</h1>
  <div class='col-sm-6'>
    <ul id="about_list_a">
      <li>UI/UX Designer</li>
      <li>Front End Developer (HTML5,CSS3)</li>
      <li>Product Designer</li>
      <li>iOS Developer</li>
      <li>3D Animator / Game Designer</li>
      <li>Motion Graphics Telent</li>
      <li>Video Editor</li>
      <li>Producer / Project Manager</li>
      <li>Web Content Strategist</li>
      <li>Media Buyer</li>
      <li>Media Planner</li>
    </ul>
  </div> <!-- /col -->
  <div class='col-sm-6'>
    <ul id="about_list_b">
      <li>Creative Director</li>
      <li>Art Director</li>
      <li>Graphic Designer / Web Designer</li>
      <li>Production Talent</li>
      <li>Project Manager</li>
      <li>Presentation Specialist (PowerPoint)</li>
      <li>Account Manager / Director</li>
      <li>Studio Manager / Director</li>
      <li>Copywriter</li>
      <li>Proofreader / Editor</li>
      <li>Account Executive</li>
    </ul>
  </div> <!-- /col -->
</div> <!-- /row -->
<div class="row">
  <h1>CLIENT LIST</h1>
</div> <!-- /row -->
</div> <!-- /container -->

<%= render partial: "shared/footer" %>
