<%= render partial: 'header', locals: {tab: @virtual_path[/^[^\/]+/]} %>
<div class="giant-section-aggregate-div">
  <div class="giant-section-substance-all-div">
    <div class="giant-substance-simple-div">
      <div class="giant-substance-simple-item-div">
        <p>Anti-Spam Policy</p>
        <p>Effective Date: February 6, 2014</p>
      </div>
      <div class="giant-substance-simple-item-div">
        <h4>Email and Prohibited Content</h4>
        <p>Your use of Giant Recruiting’s website and services is subject to this policy. If you are found to be in violation of our policies at any time, as determined by Giant Recruiting in its sole discretion, we may warn you, or suspend or terminate your account. Please note that, in accordance with the Giant Recruiting Terms of Use, we may change this policy at any time. It is your responsibility to keep up-to-date with and comply with this policy.</p>
      </div>
      <div class="giant-substance-simple-item-div">
        <h4>Email Requirements</h4>
        <p>Giant Recruiting has a zero-tolerance spam policy. This means that all email recipients must have opted in to, or otherwise validly consented to, receiving communications from you, the sender. Subscriber accounts may be terminated for sending unsolicited email messages.</p>
        <p>Email messages sent in connection with a Giant Recruiting survey must contain an “unsubscribe” link that allows subscribers to remove themselves from your email messages. You acknowledge and agree that you will not hide, disable, or remove or attempt to hide, disable, or remove the opt-out link from the email invitation. You will actively manage and process unsubscribe requests received by you directly within ten days of submission, and update your email lists and address books to reflect the unsubscribe requests.</p>
        <p>You are responsible for ensuring that the email messages you send in connection with your surveys do not generate a number of spam complaints or bounce rates in excess of industry standards. If Giant Recruiting determines that your level of spam complaints or bounce rate is higher than industry standards, Giant Recruiting at its sole discretion, has the right to suspend or terminate your use of its website and services. If you receive low response rates, high abuse rates or high bounce rates, we may request additional information regarding your mailing lists to investigate and attempt to resolve the problem, or in some cases we may suspend or remove email privileges on your account.</p>
        <p></p>
      </div>
      <div class="giant-substance-simple-item-div">
        <h4>Email Restrictions</h4>
        <p>Emails you send via Giant Recruiting must have a valid reply-to email address owned or managed by you.</p>
        <p>You can only use Giant Recruiting to send emails to lists of people that gave you permission to email them. If you don’t have proof that each recipient on your list opted in for your emails, don’t import them into Giant Recruiting.</p>
        <p>We prohibit the use of harvested mailing lists. Giant Recruiting will terminate accounts violating this prohibition.</p>
        <p>We prohibit the use of third-party, purchased, or rented mailing lists unless you are able to provide proof that individuals on the list have opted-in to receiving emails of the type you will be sending them.</p>
        <p>You must not send unsolicited mail to newsgroups, message boards, distribution lists, or email addresses.</p>
        <p>You must not utilize a survey to send any commercial electronic mail messages (as defined in the CAN-SPAM Act of 2003) to any recipient who has opted out, unsubscribed, or otherwise objected to receiving such messages from you or another party on whose behalf you may be commissioned. If you intend on sending commercial emails, you should familiarize yourself with the CAN-SPAM Act, which outlines requirements under United States law for sending out such emails, and any other applicable anti-spam laws.</p>
        <p>You must not use Giant Recruiting to send emails with deceptive subject lines or false or misleading header information.</p>
      </div>
      <div class="giant-substance-simple-item-div">
        <h4>Reporting Spam</h4>
        <p>If you suspect that Giant Recruiting has been used by someone to send spam, please contact us immediately at abuse@giantrecruiting.com and we will investigate the matter.</p>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'footer' %>
