<%= render partial: "shared/header", locals: {tab: @virtual_path[/^[^\/]+/]} %>

<div class="giant-candidates-benefits-area">
  <div class="giant-candidates-benefits-title">
    <h2>What We Offer Candidates</h2>
  </div> <!-- /giant-candidates-benefit-item -->
  <div class="giant-candidates-benefit-cluster">
    <div class="giant-candidates-benefit-item">
      <h4>THE RIGHT POSITION</h4>
      <p>We listen to you. We believe in listening to our candidates
        to find out what they want and matching them with the
        position that’s right for them.</p>
    </div> <!-- /giant-candidates-benefit-item -->
    <div class="giant-candidates-benefit-item">
      <h4>COMPENSATION INSIGHT</h4>
      <p>We know our stuff. Our data is your data - we’ll advise you
        on market rates and compensation to make sure you get
        paid what you’re worth.</p>
    </div> <!-- /giant-candidates-benefit-item -->
  </div> <!-- /giant-candidates-benefit-cluster -->
  <div class="giant-candidates-benefit-cluster">
    <div class="giant-candidates-benefit-item">
      <h4>ADVICE AND CONSULTATION</h4>
      <p>We’ll guide you. Job searching can be tough, that’s why
        our expereinced recruiting team will lend a helping hand
        - whether it be advising you on your resume, portfolio or
        how to approach your job hunt.</p>
    </div> <!-- /giant-candidates-benefit-item -->
    <div class="giant-candidates-benefit-item">
      <h4>UNDERSTANDING EMPLOYER'S NEEDS</h4>
      <p>We get them. Because we have a deep understanding of
        what our clients need, the team at Giant will make sure
        we’re connecting you with the right opportunity that will
        help advance your career and skillset.</p>
    </div> <!-- /giant-candidates-benefit-item -->
  </div> <!-- /giant-candidates-benefit-cluster -->
  <div class="giant-candidates-benefit-cluster">
    <div class="giant-candidates-benefit-item">
      <h4>INTERVIEW PREPARATION</h4>
      <p>We’ve got your back. We work closely with hiring
        managers and hiring teams, giving us valuable insight
        into their interview process. We’ll prep you before your
        interview and give you all the tools you need to land your
        dream job.</p>
    </div> <!-- /giant-candidates-benefit-item -->
    <div class="giant-candidates-benefit-item">
      <h4>PROACTIVE PLACEMENTS</h4>
      <p>We don’t wait around. Even if we don’t have an open job
        that’s a fit, we’ll proactively seek employers and
        opportunities for you that are a fit with your background
        and career objectives.</p>
    </div> <!-- /giant-candidates-benefit-item -->
  </div> <!-- /giant-candidates-benefit-cluster -->
</div> <!-- /giant-candidates-benefits-area -->

<%= render partial: "shared/footer" %>
