<%= render partial: "shared/header", locals: {tab: @virtual_path[/^[^\/]+/]} %>

<div class="giant-sections">

  <div class="giant-section">
    <div class="giant-section-title">
      <h2>What We Offer Clients</h2>
    </div> <!-- /giant-section-title -->
    <div class="giant-cluster">
      <div class="giant-cluster-item">
        <h4>FULL TIME, TEMPORARY, CONTRACT TO HIRE</h4>
        <p>We do it all. From filling quick gigs to connecting you
          with the newest member of your team, Giant will find
          exactly what you need.</p>
      </div> <!-- /giant-cluster-item -->
      <div class="giant-cluster-item">
        <h4>PINPOINT RECRUITING</h4>
        <p>We’ve got style. Our unique recruiting style pinpoints
          targeted candidates for your open positions, helping you
          get the right hire faster and more efficiently.</p>
      </div> <!-- /giant-cluster-item -->
    </div> <!-- /giant-cluster -->
    <div class="giant-cluster">
      <div class="giant-cluster-item">
        <h4>PAYROLL AND LIABILITY</h4>
        <p>We’ve got you covered. Giant makes it easy to bring on
          a new employee with payroll and liability services.</p>
      </div> <!-- /giant-cluster-item -->
      <div class="giant-cluster-item">
        <h4>SATISFACTION GUARANTEE</h4>
        <p>We’re confident. In fact, we know that you’ll love your
          new hire, that’s why our industry leading 90 day gurantee
          comes with no questions asked.</p>
      </div> <!-- /giant-cluster-item -->
    </div> <!-- /giant-cluster -->
    <div class="giant-cluster">
      <div class="giant-cluster-item">
        <h4>CLIENT RELATIONSHIP</h4>
        <p>We work with you. Acting as both an extension of existing
          recruiting teams or as your main resource for talent,
          we work closely with clients and hiring managers
          to understand your needs, provide consultation and
          connect you with amazing candidates.</p>
      </div> <!-- /giant-cluster-item -->
      <div class="giant-cluster-item">
        <h4>INDUSTRY EXPERTISE</h4>
        <p>We get it. We’re not keyword-matchers, our team is made
          up of industry experts who know the roles we recruit for
          indside and out.</p>
      </div> <!-- /giant-cluster-item -->
    </div> <!-- /giant-cluster -->
    <div class="giant-section-title">
      <%= render partial: "shared/button_request_talent" %>
    </div> <!-- /giant-section-title -->
  </div> <!-- /giant-section -->

  <div class="giant-section-separator"></div>

  <div class="giant-section">
    <div class="giant-testimonial">
      <blockquote>
        “Giant Recruiting team is professional in every sense
        of the word. They are knowledgeable, thoughtful,
        customer focused, responsive and trustworthy.
        They did a great job handling our hiring needs!”
        <footer><cite>
          RESOURCE MANAGER, DIGITAL AGENCY
        </cite></footer>
      </blockquote>
    </div> <!-- /giant-testimonial -->
  </div> <!-- /giant-section -->

  <div class="giant-section-separator"></div>

  <div class="giant-section">
    <div class="giant-clients-brands">
      <p>We are proud to work with some of the coolest brands on the planet!</p>
      <img src="/assets/giant-clients-brands.png"></img>
    </div> <!-- /giant-clients-brands -->
  </div> <!-- /giant-section -->

</div> <!-- /giant-sections -->

<%= render partial: "shared/footer" %>
