<%= render partial: "header", locals: {tab: @virtual_path[/^[^\/]+/]} %>

<div class="giant-sections">
  <div class="giant-section">
    <div class="giant-section-title">
      <h2>Give Us a Call and Let's Get Started.</h2>
    </div> <!-- /giant-section-title -->
    <div class="giant-map">
      <img src="/assets/giant-map.png"></img>
    </div> <!-- /giant-map -->
  </div> <!-- /giant-section -->

  <div class="giant-section giant-contact-info">
    <div class="giant-cluster">
      <div class="giant-cluster-item">
        <p class="giant-contact-details">
          <span class="giant-contact-address">1 HALLIDIE PLAZA, SUITE 200</span>
          <span class="giant-contact-address">SAN FRANCISCO, CA 94102</span>
          <span class="giant-contact-phone">415.366.8855</span>
          <span class="giant-contact-divider"></span>
          <span class="giant-contact-name">MICKEY PUCKO</span>
          <span class="giant-contact-title">VP, CLIENT SERVICES</span>
          <a href="mailto:mickey@giantrecruiting.com">
            <span class="giant-contact-email">MICKEY@GIANTRECRUITING.COM</span>
          </a>
        </p>
      </div> <!-- /giant-cluster-item -->
      <div class="giant-cluster-item">
        <div class="giant-contact-icons">
          <h4>FOLLOW US</h4>
          <a href="https://www.facebook.com/pages/Giant-Staffing-LLC/522568731137415">
            <img src="/assets/FB-f-Logo__blue_144.png"/>
          </a>
          <a href="https://twitter.com/GiantStaffing">
            <img src="/assets/Twitter_logo_blue.png"/>
          </a>
          <a href="https://www.linkedin.com/company/giant-staffing">
            <img src="/assets/In-2C-128px-R.png"/>
          </a>
        </div> <!-- /giant-contact-icons -->
      </div> <!-- /giant-cluster-item -->
    </div> <!-- /giant-cluster -->
  </div> <!-- /giant-section -->
</div> <!-- /giant-sections -->

<%= render partial: "footer" %>
