.giant-footer {
  background-color: $color-logos;
  .giant-footer-container-div {
    .giant-footer-row-div {
      color: $color-primary-bright;
      text-align: center;
      p {
        color: $color-page;
        margin: 0;
        padding-bottom: 2em;
      }
      ul {
        @extend .nav; ///< bootstrap
        @extend .navbar-nav; ///< bootstrap
        display: inline-block;
        float: none;
        padding-top: 1em;
        li {
          display: inline-block;
          a {
            border: 0;
            font-size: 11px;
            line-height: 1em;
            padding: 1.4em 2em;
            &:hover {
              background-color: $color-primary-bright !important;
            }
            img {
              width: 2.0em;
            }
          }
        }
      }
    }
  }
}
