.giant-background-jumbo-candidates {
  background:       url("/assets/giant-background-jumbo-candidates.jpg") no-repeat;
}
.giant-background-jumbo-clients {
  background:       url("/assets/giant-background-jumbo-clients.jpg") no-repeat;
}
.giant-background-jumbo-contact {
  background:       url("/assets/giant-background-jumbo-contact.jpg") no-repeat;
}
.giant-background-jumbo-home {
  background:       url("/assets/giant-background-jumbo-home.jpg") no-repeat;
}
.giant-background-jumbo-jobs {
  background:       url("/assets/giant-background-jumbo-jobs.jpg") no-repeat;
}

@media (max-width: $giant-breakpoint-iphone-max-width) {
  .giant-jumbo-image-div-responsive {
    background-size: auto 100%;
    height: $giant-visual-design-constraint-iphone-jumbo-max-height;
  }
  .giant-substance-cluster-div-responsive {
    padding: 0 2em;
  }
}
@media (min-width: $giant-breakpoint-mobile-min-width) {
  .giant-jumbo-image-div-responsive {
    // interpolate height between this and the next breakpoint
    background-size: cover;
    width: 100%;
    height: 0;
    padding: 0;
    padding-bottom: $giant-jumbo-iphone-max-height-aspect-y-over-x-pct;
  }
}
@media (max-width: $giant-breakpoint-mobile-max-width) {
  .giant-jumbo-content-div-responsive {
    background-color: $color-panel;
    padding: 2em 0 3em;
    text-align: center;
    h1 {
      font-size: $jumbotron-font-size;
      text-align: center;
    }
    .giant-jumbo-text-breaks2 {
      display: none;
    }
  }
  .giant-logos-all-div-responsive {
    transform: scale(0.5) translate(-50%, 50%);
    width: 200%;
  }
}
@media (min-width: $giant-breakpoint-tablet-min-width) {
  .giant-jumbo-content-div-responsive {
    background: transparent;
    position: absolute;
    top: 40%;
    transform: perspective(1px) translateY(-50%);
    h1 {
      font-size: $jumbotron-font-size * 1.6;
      text-align: left;
    }
    .giant-jumbo-text-breaks1 {
      display: none;
    }
  }
  .giant-jumbo-image-div-responsive {
    // interpolate height between this and the next breakpoint
    background-size: cover;
    width: 100%;
    height: 0;
    padding: 0;
    padding-bottom: $giant-jumbo-tablet-max-height-aspect-y-over-x-pct;
  }
}
@media (min-width: $giant-breakpoint-desktop-min-width) {
  .giant-jumbo-image-div-responsive {
    background-size: auto;
    height: $giant-visual-design-constraint-desktop-jumbo-max-height;
    padding: 0;
  }
}

.giant-jumbo-all-div {
  //display: table;
  //width: 100%;
  position: relative; // !!! need for content position absolute
  .giant-jumbo-image-div {
    @extend .jumbotron; ///< bootstrap
    @extend .giant-jumbo-image-div-responsive;
    background-position: center top;
    margin: 0;
    position: relative; // !!! need for logo bar position absolute
  }
  .giant-jumbo-content-div {
    @extend .giant-jumbo-content-div-responsive;
    h1 {
      color: $color-secondary;
      font-weight: bold;
      margin: 0;
    }
    .giant-button-primary {
      margin: 2em 0.5em 0 0;
    }
  }
  .giant-jumbo-content-offset-home {
    left: 49%;
  }
  .giant-jumbo-content-offset-clients {
    left: 53%;
  }
  .giant-jumbo-content-offset-candidates {
    left: 57%;
  }
  .giant-jumbo-content-offset-jobs {
    left: 53%;
    top: 33%;
  }
  .giant-jumbo-content-offset-contact {
    left: 0;
    right: 0;
    top: 40%;
    h1 {
      font-size: $jumbotron-font-size * 2;
      text-align: center;
    }
  }
}
