.giant-contact-icons {
  text-align:     center;
  img {
    padding:        1.0em 1.0em;
    width:          5.0em;
  }
}
.giant-contact-info {
  padding:          0 0 2em;
}
.giant-contact-details {
  span {
    @extend h4;
    display:        block;
    text-align:     left;
  }
  span.giant-contact-address,
  span.giant-contact-title {
    font-weight:    300;
  }
  span.giant-contact-name,
  span.giant-contact-title {
    color:          $color-primary;
  }
  span.giant-contact-divider {
    height:         1em;
  }
}
