.giant-form {
  padding:          3em 4em;
  h2 {
    margin:         0;
    text-align:     left;
  }
  label {
    font-weight:    normal;
    margin-bottom:  0.2em;
  }
  .field {
    padding:        1em 0 0;
  }
  .giant-field-entry {
    width:            100%;
  }
  .giant-field-entry-twin {
    width:            49.5%;
  }
}
.giant-form-button {
  margin:           2em 0;
}
