.giant-job {
  h4 {
    //line-height:    0.75;
    margin-top:     0.2em;
    margin-bottom:  0.2em;
  } 
}

.giant-section-substance-jobs-bundle-div {
  @include make-sm-column(10);
  @include make-sm-column-offset(1);
  margin:           0 0 2em 0;
}
.giant-section-substance-jobs-button {
  @extend .giant-button-secondary;
  border-color:     #ccc;
  border-radius:    0.4em;
  font-size:        13px;
  font-weight:      $font-weight-semibold;
  margin:           0em 0.2em;
  padding:          0.4em 1em;
  min-width:        10em;
}
.giant-section-substance-jobs-buttons-div {
  margin:           0.5em 0 2em;
  text-align:       right;
}
.giant-section-substance-jobs-category-div {
  margin:           0.5em 0;
  text-align:       center;
}
.giant-section-substance-jobs-category-text {
  padding:          0em 2em;
  &:active, &:focus, &:visited {
    color:            $color-button-secondary;
    text-decoration:  none;
  }
  &:hover {
    color:            $color-primary;
    text-decoration:  none;
  }
}
.giant-section-substance-jobs-details-all-div {
  @extend .row-eq-height;
  @include make-sm-column(12);
  padding:          0.65em 0;
}
.giant-section-substance-jobs-details-brief-div {
  @extend .row-eq-height;
  @include make-sm-column(3);
  padding:          0;
}
.giant-section-substance-jobs-details-brief-content-div {
  display:          table-cell;
  padding-top:      1em;
  width:            100%; // needed to get line all the way to the right
}
.giant-section-substance-jobs-details-brief-content-number-p {
  font-size:        16px;
  margin:           0;
}
.giant-section-substance-jobs-details-brief-content-number-label-span {
}
.giant-section-substance-jobs-details-brief-content-number-digits-span {
  color:            $color-primary;
  font-weight:      bold;
}
.giant-section-substance-jobs-details-brief-content-title-p {
  font-size:        22px;
  font-weight:      normal;
  margin:           0;
}
.giant-section-substance-jobs-details-brief-line-inner-div {
  @extend .row-eq-height;
  background-color: $color-panel;
  margin:           0 2em;
  text-align:       center;
  width:            0.3em;
}
.giant-section-substance-jobs-details-brief-line-outer-div {
  @extend .row-eq-height;
  padding:          0;
  text-align:       right;
}
.giant-section-substance-jobs-details-description-div {
  @include make-sm-column(9);
  @include make-xs-column(9);
  margin:           0;
  padding:          0;
}
.giant-section-substance-jobs-details-description-prose-div {
  background-color: $color-panel;
  margin:           0;
  padding:          2em;
  p {
    margin:         0;
  }
}

.giant-section-substance-jobs-disposition-all-div {
  $edge-height: 0.7em;
  $edge-width: 0.6em;
  .giant-bordered-edge {
    border-bottom-width: $edge-height;
    border-color:   $color-page;
    border-left-width: $edge-width;
    border-right-width: $edge-width;
    border-style:   solid;
    border-top-width: $edge-height;
  }
  .giant-form-field {
    @extend .giant-bordered-edge;
    background-color: $color-panel;
    color:          $color-secondary;
    padding:        0.8em 1em;
    width:          100%;
  }
  .giant-form-field-half-width {
    @extend .giant-form-field;
    width:          49.5%;
  }
  .giant-form-field-half-width-div {
    @extend .giant-form-field;
    display:        inline-block;
    width:          49.5%;
  }
  .giant-form-field-inline-input {
    @include placeholder($color-quintary);
    display:        inline;
    background:     none;
    border:         0;
    line-height:    1em;
    padding:        0;
  }
  .giant-form-field-inline-select {
    @extend .giant-form-field-inline-input;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
  }
  .giant-form-field-select-div {
    @extend .giant-form-field-half-width-div;
    padding:        0.75em 0.95em;
  }
  .giant-hr-bottom {
    margin:         1em 0 0 0;
  }
  .giant-hr-top {
    margin:         0 0 $edge-height 0;
  }
  .giant-jobapp-authorized-div {
    @extend .giant-form-field-select-div;
  }
  .giant-jobapp-authorized-select {
    @extend .giant-form-field-inline-select;
  }
  .giant-jobapp-available-div {
    @extend .giant-form-field-half-width-div;
  }
  .giant-jobapp-available-input-date {
    @extend .giant-form-field-inline-input;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    width:          10em;
  }
  .giant-jobapp-email-input {
    @extend .giant-form-field-half-width;
  }
  .giant-jobapp-employment-div {
    @extend .giant-form-field-select-div;
  }
  .giant-jobapp-employment-select {
    @extend .giant-form-field-inline-select;
  }
  .giant-jobapp-name-first-input {
    @extend .giant-form-field-half-width;
  }
  .giant-jobapp-name-last-input {
    @extend .giant-form-field-half-width;
  }
  .giant-jobapp-phone-input {
    @extend .giant-form-field-half-width;
  }
  .giant-jobapp-portfolio-link-input {
    @extend .giant-form-field-half-width;
  }
  .giant-jobapp-resume-file-div {
    @extend .giant-form-field-half-width-div;
  }
  .giant-jobapp-resume-file-label {
    @extend .giant-form-field-inline-input;
  }
  .giant-jobapp-resume-file-input {
    // technique from http://stackoverflow.com/questions/21842274/cross-browser-custom-styling-for-file-upload-button
    position: fixed;
    top: -1000px;
  }
  .giant-jobapp-resume-file-post-span {
    @extend .giant-form-field-inline-input;
    color:          $color-button-secondary;
  }
  .giant-jobapp-resume-file-pre-span {
    @extend .giant-form-field-inline-input;
  }
  .giant-jobapp-resume-link-input {
    @extend .giant-form-field-half-width;
  }
  .giant-referral-friends-name-input {
    @extend .giant-form-field-half-width;
  }
  .giant-referral-friends-email-input {
    @extend .giant-form-field-half-width;
  }
  .giant-referral-subject-input {
    @extend .giant-form-field;
    font-style:     italic;
  }
  .giant-referral-body-input {
    @extend .giant-form-field;
    font-style:     italic;
    font-weight:    $font-weight-light;
  }
  .giant-referral-submits-div {
    @extend .giant-bordered-edge;
    margin-bottom:  1.5em;
    position:       relative;
  }
  .giant-referral-submit-input {
    @extend .giant-section-substance-jobs-button;
    width:          auto;
  }
  .giant-referral-submit-cancel-input {
    @extend .giant-referral-submit-input;
    border:         none;
  }
  .giant-referral-submit-send-input {
    @extend .giant-referral-submit-input;
    position:       absolute;
    right:          0;
  }
  h2 {
    font-weight:    $font-weight-semibold;
    margin:         0;
    padding:        0.4em 1em;
    text-align:     left;
  }
  hr {
    background:     $color-panel;
    height:         0.08em;
  }
  label {
    display:        inline;
    font-weight:    normal;
    margin:         0;
  }
}

.giant-form {
  padding:          3em 4em;
  h2 {
    margin:         0;
    text-align:     left;
  }
  label {
    font-weight:    normal;
    margin-bottom:  0.2em;
  }
  .field {
    padding:        1em 0 0;
  }
  .giant-field-entry {
    width:            100%;
  }
  .giant-field-entry-twin {
    width:            49.5%;
  }
}
.giant-form-button {
  margin:           2em 0;
}
.giant-talent-request-what {
  height:           6em;
}
