<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= link_to @job_reference, @url %></h1>
    <p>
      Your friend <%= @job_referral.name %> thinks that you would be interested in
      <%= link_to "this job", @url %>:
    </p>
    <%= render partial: './application/job' %>
  </body>
</html>
