// ## custom file [2014.08.13 christopheraugustus]
// ## based on http://getbootstrap.com/examples/grid/grid.css
@import "bootstrap";

//@import url(http://fonts.googleapis.com/css?family=Muli:400,300);
@import url(http://fonts.googleapis.com/css?family=Signika:400,300,600,700);

$color-logo:                #c55e30;
$color-logo-light:          #d3660b;
$color-logo-trans:          rgba(197,94,48,0.8);
$color-logo-trans-light:    rgba(211,102,11,0.8);
$color-menu-button-border:  #1380a8;
$color-menu-button-fill:    #6ed3fb;
$color-menu-button-text:    #1380a8;
$color-page:                #fff;
$color-page-trans:          rgba(255,255,255,0.9);
$color-panel:               #efefef;
$color-panel-trans:         rgba(239,239,239,0.8);
//$color-primary:             #e06600; ///< shade from 2014 design
$color-primary:             #f87355; // !!! eyedropped from 2016 design header
$color-primary-bright:      #ff7f3f;
$color-primary-trans:       rgba(224,102,0,0.8);
//$color-secondary:           #5b5c5d; // !!! eyedropped from design header
//$color-secondary:           #4b4c4d; // !!! eyedropped from 2014 design
$color-secondary:           #666666; // !!! eyedropped from 2016 design
$color-secondary-inverse:   #000;
//$color-secondary-trans:     rgba(91,92,93,0.8);
$color-secondary-trans:     rgba(70,70,70,0.8);
$color-tertiary:            #757677; // !!! eyedropped from design footer
$color-tertiary-trans:      rgba(117,118,119,0.8);
$color-quaternary:          #7f8083;
$color-quaternary-trans:    rgba(127,128,131,0.8);
$color-quintary:            #939393;
$color-quintary-trans:      rgba(147,147,147,0.8);

//$font-family-primary:       Muli,"Helvetica Neue",Helvetica,Arial,sans-serif;
$font-family-primary:       OpenSans,"Helvetica Neue",Helvetica,Arial,sans-serif;
$font-family-secondary:     Signika,"Helvetica Neue",Helvetica,Arial,sans-serif;

$font-weight-semibold:      600;

body, p {
  color: $color-secondary;
  font-family: $font-family-primary;
}
body {
  font-size: 16px;
}
h1, h2, h3, h4 {
  font-family: $font-family-primary;
}
h1 {
  color: $color-secondary;
  font-weight: $font-weight-semibold;
  font-size: 20px;
  text-align: center;
}
h2 {
  color: $color-primary;
  font-weight: $font-weight-semibold;
  font-size: 14px;
  text-align: center;
}
h3 {
  color: $color-primary;
  font-weight: 300;
  font-size: 20px;
}
h4 {
  color: $color-secondary;
  font-weight: 400;
  font-size: 14px;
}
hr {
  background: $color-secondary;
  height: 1px;
  margin-top: 3em;
  margin-bottom: 3em;
}
p {
  font-weight: 300;
//  line-height: 1.0;
}

// Bootstrap styles:

.container-fluid {
  padding-left: 0em;
  padding-right: 0em;
}
.navbar {
  font-family: $font-family-primary;
  margin-bottom: 0;
  min-height: 0em;
}
.navbar-inverse {
  background-color: $color-secondary-trans;
  border: 0;
  color: $color-page;
}
.navbar-inverse .navbar-nav li a {
  color: $color-page;
}
.navbar-inverse .navbar-nav li a:hover {
  //background-color: $color-secondary-inverse;
  color:            $color-primary-bright;
}
.navbar-collapse {
  text-align: center;
  line-height: 0em;
}
.navbar-nav {
  display: inline-block;
  float: none;
}
.nav li a {
  border: 0;
  font-size: 11px;
  line-height: 1em;
  padding: 1.4em 2em;
}
.nav li p { // @@@ CONSOLIDATE WITH ABOVE
  border: 0;
  color: $color-page;
  font-size: 11px;
  line-height: 1em;
  margin: 0;
  padding: 1.4em 2em;
}
.panel {
  box-shadow: none;
}
.panel-heading {
  font-family: $font-family-secondary;
}
.panel-title {
  color: $color-primary;   // override bs inherit
  font-size: 18px;  // override bs 16px
}
.panel-primary {
  background-color: $color-page;
  margin: 2em 0em;
  text-align: center;
  p {
    font-family: $font-family-primary;
    font-size: 14px;
  }
  .panel-body, .panel-heading, .panel-title {
    background-color: $color-page;
  }
  .panel-heading {
    padding: 0em 0em;
  }
}
.panel-secondary {
  .panel-body, .panel-heading, .panel-title {
    background-color: $color-panel;
  }
  .panel-body, .panel-heading {
    padding: 1.5em;
  }
  .panel-heading {
    padding-bottom: 0em;
  }
  .panel-title {
    padding-bottom: 0em;
    padding-top: 0.2em;
  }
  li {
    font-size: 12px;
    line-height: 1.5em;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}

// TODO: @@@ NOT USING THIS...YET
// !!! non-standard bootstrap customization from
// !!! http://getbootstrap.com.vn/examples/equal-height-columns/
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

[class*="panel-"] {
  background-color: $color-page;
  border: 0px;
//  color: #ff6600;
}

// unique styles:

.giant-billboard {
  @extend .jumbotron;
  background:       transparent;
  padding:          5em 3em;
  text-align:       center;
  h1 {
    color:          $color-secondary;
    font-family:    $font-family-primary;
    font-size:      28px;
    font-weight:    bold;
    line-height:    1.75;
    text-align:     left;
  }
}
.giant-button {
  @extend .btn;
  background-color: $color-page;    // override bs #428bea
  border:           0.25em solid;
  border-color:     $color-secondary; // override bs #357ebd
  border-radius:    0.3em;
  border-width:     2px;
  color:            $color-secondary; // override bs white
  font-family:      $font-family-primary;
  font-weight:      bold;
  padding:          8px 12px;
  min-width:        11em;
}
.giant-button:hover {
  background-color: $color-primary;
  border-color:     $color-primary;
  color:            $color-page;
}
.giant-contact-icons {
  text-align:     center;
  img {
    padding:        1.0em 1.0em;
    width:          5.0em;
  }
}
.giant-footer {
  @extend .navbar-wrapper; // bootstrap
}
.giant-footer-container {
  @extend .container-fluid; // bootstrap
}
.giant-footer-row {
  @extend .row; // bootstrap
}

/// !!! note: We are NOT using bootstrap grid in the header
/// !!! because of the awkward design of the menu/navigation
/// !!! buttons and how they would collapse using bootstrap

$giant-header-left-edge-space: 0.7em;
$giant-header-vert-edge-space: 0.3em;

.giant-header-div-entire {
  background-color: $color-page;
  box-shadow:       0 2px 6px -1px #aaa;
  padding-left:     $giant-header-left-edge-space;
  padding-bottom:   $giant-header-vert-edge-space;
  position:         relative;
  z-index:          1;
}
.giant-header-div-section-brand {
  //display:          table-cell; ///< !!! appends and spans height, but shrinks instead of collapsing
  display:          inline-block; ///< !!! appends but doesn't span height
  padding-bottom:   0.2em;
  padding-top:      0.6em;
  vertical-align:   middle; ///< !!! both outers must be middle for the smaller to be middle
}
.giant-header-div-section-menu {
  //display:          table-cell; ///< !!! appends and spans height, but shrinks instead of collapsing
  display:          inline-block; ///< !!! appends but doesn't span height
  padding:          0;
  padding-top:      $giant-header-vert-edge-space;
  vertical-align:   middle; ///< !!! both outers must be middle for the smaller to be middle
}
.giant-header-div-within-menu {
  display:          table-cell;
  padding:          0;
  width:            100%;
}
.giant-header-item-brand-image {
  /// !!! inline-block would drop collapsed text to next line
  //display:          inline-block;
  display:          table-cell;
}
.giant-header-item-brand-tagline {
  /// !!! inline-block would drop collapsed text to next line
  //display:          inline-block;
  display:          table-cell;
  margin:           0;
  padding-left:     $giant-header-left-edge-space;
  padding-right:    1.5em;
  text-align:       left;   ///< !!! keep collapsing text left-adjusted
  vertical-align:   middle; ///< !!! keep collapsing text in the middle
}
.giant-header-item-menu-link {
  @extend .btn; ///< bootstrap
  background-color: $color-menu-button-fill;
  border:           0.1em solid;
  border-color:     $color-menu-button-border;
  border-radius:    0;
  color:            $color-menu-button-text;
  font-family:      $font-family-primary;
  font-weight:      $font-weight-semibold;
  margin:           0.25em 0.1em;
  min-width:        10em;
  padding:          1em 0.5em;
}
.giant-header-item-menu-link:hover {
  background-color: $color-menu-button-text;
  color:            $color-page;
}
.giant-header-item-phone {
  color:            $color-secondary;
  display:          inline-block;
  margin:           0;
  min-width:        10em;
}

.giant-job {
  h4 {
    //line-height:    0.75;
    margin-top:     0.2em;
    margin-bottom:  0.2em;
  } 
}
.giant-job-category {
  &:active, &:focus, &:visited {
    color:            $color-secondary;
    text-decoration:  none;
  }
  &:hover {
    color:            $color-primary;
    text-decoration:  none;
  }
}
.giant-testimonial {
  @extend .giant-billboard;
  margin:           0;
  padding:          2em 10em;
  blockquote {
    @extend h2;
    border:         0;
    font-weight:    400;
    line-height:    1.5em;
    margin:         0;
    padding:        0;
    footer:before {
      content:      none;
    }
    cite {
      @extend h4;
      display:      block; 
      margin:       0;
      padding:      1em 0 0;
    }
  }
}
.giant-navbar-collapse { 
  @extend .navbar-collapse; // bootstrap
  @extend .collapse;        // bootstrap
  @extend .nav-justified;   // bootstrap
}
.giant-navbar-icon { 
  a { // @@@ DOESN'T WORK
    padding:        0;
  }
  img {
    width:          2.0em;
  }
}
.giant-navbar-separator { 
  background-color: $color-page;
  font-size:        11px; // same style as .navbar-nav > li 
  line-height:      1em;  // same style as .navbar-nav > li
  margin-top:       1.1em;
  padding:          0.3em 0em;
  width:            1px;
}
.giant-page-home-all-div {
  @extend .container-fluid;
}
.giant-page-home-jumbo-all-div {
  @extend .jumbotron;
  background:       url("/assets/giant-jumbo-home.jpg") no-repeat;
  background-size:  cover;
  margin:           0;
  padding:          0;
}
.giant-page-home-jumbo-bundle-div {
  display:          table;
  width:            100%;
}
.giant-page-home-jumbo-cluster-empty-div {
  display:          table-cell;
  height:           480px;
  width:            57%;
}
.giant-page-home-jumbo-cluster-text-div {
  background:       transparent;
  display:          table-cell;
  padding:          4em 0 0 0;
  width:            43%;
  vertical-align:   top;
  h1 {
    color:          $color-secondary;
    font-family:    $font-family-primary;
    font-size:      36px;
    font-weight:    bold;
    line-height:    1.1em;
    text-align:     left;
  }
}
.giant-page-home-jumbo-group-buttons-div {
  padding:          1em 0 0 0;
}
.giant-page-home-roles-all-div {
}
.giant-page-home-roles-caption-all-div {
  text-align:       center; // !!! needed to center caption-cluster-div
}
.giant-page-home-roles-caption-tab-div {
  background-color: $color-page;
  display:          inline-block;
  position:         relative;
  bottom:           28px;
}
.giant-page-home-roles-caption-text-heading {
  //margin-top:       -28px; // !!! would compensate for caption-tab-div offset
  margin:           0.5em 0 1.5em;
}
.giant-page-home-roles-list-all-div {
  @include make-row();
}
.giant-page-home-roles-list-bundle-empty-div {
  @include make-sm-column(1);
  @include make-xs-column(2);
}
.giant-page-home-roles-list-bundle-filled-div {
  @include make-sm-column(10);
  @include make-xs-column(8);
  padding:          1em 0 3em;
}
.giant-page-home-roles-list-single-div {
  @include make-sm-column(4);
  padding-left:     10%;
  li {
    font-size:      14px;
    font-weight:    $font-weight-semibold;
    line-height:    2em;
  }
  ul {
    list-style-type: none;
    margin:         0;
    padding:        0;
    text-indent:    -2em;
  }
}

.giant-sections {
  @extend .container-fluid;
}
.giant-section {
  .giant-jumbotron {
    margin:         0;
    padding:        3em 8em;
    h1, h4 {
      margin:       0;
    }
    h1 {
      padding:      0 0 1em;
    }
  }
}
.giant-section-separator {
  background-color: $color-tertiary;
  height:           1px;
  margin:           0em 5em; 
}
.giant-section-title {
  @include make-row();
  padding:          4em 2em 2em;
  text-align:       center;
  h2 {
    margin:         0;
  }
}
.giant-cluster {
  @include make-row();
  padding:          0 4em;
}
.giant-cluster-item {
  @include make-sm-column(6);
  padding:          0 2em 1em;
  h4 {
    font-weight:    600;
    font-size:      600;
    margin:         0;
    padding:        0 0 0.2em;
  }
  p {
    line-height:    1.3em;
    margin:         0;
  }
}
.giant-form {
  padding:          3em 4em;
  h2 {
    margin:         0;
    text-align:     left;
  }
  label {
    font-weight:    normal;
    margin-bottom:  0.2em;
  }
  .field {
    padding:        1em 0 0;
  }
  .giant-field-entry {
    width:            100%;
  }
  .giant-field-entry-twin {
    width:            49.5%;
  }
}
.giant-form-button {
  margin:           2em 0;
}
.giant-form-radio-button {
}
.giant-form-radio-button-label {
  padding:          0 2em 0 0.5em;
}
.giant-form-radio-button-group {
  padding:          0 1.3em;
  span {
    display:        block;
  }
}
.giant-job-details {
  border:           1px solid;
  margin:           0;
  padding:          0.5em 1.5em;
}
.giant-map {
  padding:          0em 3em 3em;
  img {
    width:          100%;
  }
}
.giant-clients-brands {
  padding:          2em 5em; // TODO: @@@ DRY: sides same as separator
  img {
    width:          100%;
  }
}
.giant-contact-info {
  padding:          0 0 2em;
}
.giant-contact-details {
  span {
    @extend h4;
    display:        block;
    text-align:     left;
  }
  span.giant-contact-address,
  span.giant-contact-title {
    font-weight:    300;
  }
  span.giant-contact-name,
  span.giant-contact-title {
    color:          $color-primary;
  }
  span.giant-contact-divider {
    height:         1em;
  }
}
.giant-separator-title {
  hr {
    margin-top: 0em;
  }
}
.giant-talent-request-what {
  height:           6em;
}
