// ## custom file [2014.08.13 christopheraugustus]
// ## based on http://getbootstrap.com/examples/grid/grid.css

@import url(http://fonts.googleapis.com/css?family=Signika:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Muli:400,300);

// ## licensing this font is a Giant pain in the ass
//@font-face {
//  font-family: "Brandon_Grotesque"
//  src: asset-url('BrandonGrotesque_Bold.otf') format("opentype");
//  src: asset-url('BrandonGrotesque_Black.otf')
//  src: asset-url('BrandonGrotesque_Light.otf')
//  src: asset-url('BrandonGrotesque_Medium.otf')
//  src: asset-url('BrandonGrotesque_Regular.otf')
//  src: asset-url('BrandonGrotesque_Thin.otf')
//}

body {
  color: #888;
  font-family: Muli,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 16px;
}
h1 {
  color: #666;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
h2 {
  color: #ff792c;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}
h3 {
  color: #ff792c;
  font-weight: 300;
  font-size: 20px;
}
h4 {
  color: #666;
  font-weight: 400;
  font-size: 16px;
}
hr {
  background: #666;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
}
p {
  color: #666;
  line-height: 1.0;
}

// Bootstrap styles:

.btn {
  border: 3px solid;
  border-radius: 0px;
  font-weight: 600;
//  font-size: 16px;
  min-width: 180px;
}
.btn-primary {
  background-color: #fff; // override bs #428bea
  border-color: #ff792c;  // override bs #357ebd
  color: #ff792c;         // override bs white
}
.btn-primary:hover {
  background-color: #000;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
.jumbotron {
  background: transparent;
  //background: url("/assets/giant_jumbo.jpg") no-repeat;
  //background-size: 100%;
  //height: 320px;
  h1 {
    color: #ff792c;
    font-family: Muli,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.75;
    text-align: center;
  }
}
.navbar {
  margin-bottom: 0;
  min-height: 0px;
}
.navbar-inverse {
  background-color: rgba(80,80,80,0.8);
  border: 0;
  color: #fff;
}
.navbar-inverse .navbar-nav li a {
  color: #fff;
}
.navbar-inverse .navbar-nav li a:hover {
  background-color: #000;
}
.navbar-collapse {
  text-align: center;
  line-height: 1em;
}
.navbar-nav {
  display: inline-block;
  float: none;
}
.nav li a {
  border: 0;
  font-size: 11px;
  line-height: 1em;
  padding: 1.4em 2em;
}
.panel-primary {
//  color: #6f6f6f;
//  padding-left: 15px;
//  padding-bottom: 15px;
  text-align: center;
}
.panel-primary .panel-heading {
//  background-color: #fff0ec;
  background-color: #ffffff;
//  color: #f60;
}
.panel-title {
  color: #ff792c;   // override bs inherit
  font-size: 20px;  // override bs 16px
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
[class*="panel-"] {
//  background-color: #fff0ec;
  background-color: #ffffff;
  border: 0px;
//  color: #ff6600;
}

// unique styles:

.giant-background {
  background: url("/assets/giant_jumbo.jpg") no-repeat;
  background-size: 100%;
  //height: 320px;
// previous design
//.giant-heading-bullet {
//  background-color: #f60;
//  margin-right: 8px;
//  width: 20px;
//}
}
.giant-header-top {
  background-color: rgba(255,255,255,0.9);
}
.giant-job {
  h4 {
    //line-height: 0.75;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  } 
}
.giant-navbar-separator { 
  background-color: #fff;
  font-size: 11px;  // same style as .navbar-nav > li 
  line-height: 1em; // same style as .navbar-nav > li
  margin-top: 1.1em;
  padding: 0.3em 0em;
  width: 1px;
}
