$OpenSansPath: "OpenSans" !default;
$OpenSansVersion: "1.1.0" !default; 

@mixin fontdef($OpenSansPath, $OpenSansVersion, $FontType:"Regular") {
  src:  url('#{$OpenSansPath}/#{$FontType}/OpenSans-#{$FontType}.eot?v=#{$OpenSansVersion}');
  src:  url('#{$OpenSansPath}/#{$FontType}/OpenSans-#{$FontType}.eot?#iefix&v=#{$OpenSansVersion}') format('embedded-opentype'),
        url('#{$OpenSansPath}/#{$FontType}/OpenSans-#{$FontType}.woff2?v=#{$OpenSansVersion}') format('woff2'),
        url('#{$OpenSansPath}/#{$FontType}/OpenSans-#{$FontType}.woff?v=#{$OpenSansVersion}') format('woff'),
        url('#{$OpenSansPath}/#{$FontType}/OpenSans-#{$FontType}.ttf?v=#{$OpenSansVersion}') format('truetype'),
        url('#{$OpenSansPath}/#{$FontType}/OpenSans-#{$FontType}.svg?v=#{$OpenSansVersion}##{$FontType}') format('svg');
}

@font-face {
  font-family: 'OpenSans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "Bold");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "BoldItalic");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "ExtraBold");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "ExtraBoldItalic");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "Italic");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "Light");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "LightItalic");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "Regular");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "Semibold");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "SemiboldItalic");
  font-weight: 600;
  font-style: italic;
}
