// visual design constraints, hardcoded and derived values

$giant-visual-design-constraint-jumbo-image-size-x: 1460px;
$giant-visual-design-constraint-jumbo-image-size-y: 620px;
$giant-jumbo-image-aspect:
    $giant-visual-design-constraint-jumbo-image-size-x
  / $giant-visual-design-constraint-jumbo-image-size-y;

// !!! swap for for testing because desktop chrome squishing won't go below 400px
$giant-breakpoint-iphone-max-width: 475px;
//$giant-breakpoint-iphone-max-width: 375px;
$giant-visual-design-constraint-iphone-jumbo-max-height: 228px;
//$giant-visual-design-constraint-iphone-jumbo-max-height: 180px;

$giant-jumbo-iphone-max-height-aspect: // == 2.083...
    $giant-breakpoint-iphone-max-width
  / $giant-visual-design-constraint-iphone-jumbo-max-height;
$giant-jumbo-iphone-max-height-aspect-y-over-x-pct: 48%;
//    $giant-visual-design-constraint-iphone-jumbo-max-height;
//  / $giant-breakpoint-iphone-max-width; // ==  0.48%;

$giant-breakpoint-mobile-min-width: $giant-breakpoint-iphone-max-width + 1;
$giant-breakpoint-mobile-max-width: $screen-xs-max;
$giant-breakpoint-tablet-min-width: $screen-sm-min; // boostrap default of 768px

$giant-visual-design-constraint-tablet-jumbo-max-height: 400px;

$giant-jumbo-tablet-max-height-aspect: // == 1.92
    $giant-breakpoint-tablet-min-width
  / $giant-visual-design-constraint-tablet-jumbo-max-height;
$giant-jumbo-tablet-max-height-aspect-y-over-x-pct: 52%;
//  / $giant-visual-design-constraint-tablet-jumbo-max-height
//    $giant-breakpoint-tablet-min-width; // == 0.52083...

$giant-visual-design-constraint-desktop-jumbo-max-height: $giant-visual-design-constraint-jumbo-image-size-y;
//$giant-breakpoint-desktop-jumbo-max-height-min-width:
//    $giant-jumbo-tablet-max-height-aspect
//  * $giant-visual-design-constraint-desktop-jumbo-max-height;
$giant-breakpoint-desktop-jumbo-max-height-min-width: 1190px;
$giant-breakpoint-desktop-min-width: $giant-breakpoint-desktop-jumbo-max-height-min-width;

$giant-visual-design-constraint-logos-bar-height: 80px;
$giant-visual-design-constraint-logos-gap-width: 40px;
$giant-visual-design-constraint-logos-padding-vertical: 1em;
