$color-button-secondary:    #23acdc;
$color-logos:               rgba(74,79,94,0.8);
$color-page:                #fff;
$color-page-trans:          rgba(255,255,255,0.9);
$color-panel:               #efefef;
$color-primary:             #f87355; // !!! eyedropped from 2016 design header
$color-primary-bright:      #ff7f3f;
$color-secondary:           #666666; // !!! eyedropped from 2016 design
$color-tertiary:            #757677; // !!! eyedropped from design footer
$color-quintary:            #aaa;
