body, p {
  color: $color-secondary;
  font-family: $font-family-primary;
}
body {
  font-size: 14px;
}
h1, h2, h4 {
  font-family: $font-family-primary;
}
h1 {
  color: $color-secondary;
  font-weight: $font-weight-semibold;
  font-size: 20px;
  text-align: center;
}
h2 {
  color: $color-primary;
  font-weight: $font-weight-semibold;
  font-size: 14px;
  text-align: center;
}
h4 {
  color: $color-secondary;
  font-weight: 400;
  font-size: 14px;
}
hr {
  background: $color-secondary;
  height: 1px;
  margin-top: 3em;
  margin-bottom: 3em;
}
input::-webkit-input-placeholder {
  color:            $color-quintary;
}
input:-moz-placeholder {
  // !!! mozilla adds its own fade
  //color:            $color-quintary;
}
input::-moz-placeholder {
  // !!! mozilla adds its own fade
  //color:            $color-quintary;
}
input:-ms-input-placeholder {
  color:            $color-quintary;
}
p {
  font-weight: 300;
}
