    <div class="giant-section-substance-caption-all-div">
       <div class="giant-section-substance-caption-tab-div">
         <img src="/assets/giant-roles-tab.png"></img>
       </div>
      <h2 class="giant-section-substance-caption-text-heading">
        <%= text %>
      </h2>
    </div>
