<footer class="giant-footer">
  <div class="giant-footer-container-div">
    <div class="giant-footer-row-div">
      <ul>
        <li>
          <a href="<%= Rails.application.config.custom_link_facebook %>">
            <img src="/assets/FB-f-Logo__white_144.png"/>
          </a>
        </li>
        <li>
          <a href="<%= Rails.application.config.custom_link_twitter %>">
            <img src="/assets/Twitter_logo_white.png"/>
          </a>
        </li>
        <li>
          <a href="<%= Rails.application.config.custom_link_linkedin %>">
            <img src="/assets/In-White-128px-R.png"/>
          </a>
        </li>
      </ul>
    </div>
    <div class="giant-footer-row-div">
      <p>&copy GIANT 2017</p>
    </div>
  </div>
</footer>
