<header>
  <div class="giant-header-div">
    <nav>
      <div class="giant-nav-container-div">
        <div class="giant-nav-menu-toggle-outer-div">
          <div class="giant-nav-menu-toggle-inner-div">
            <button data-toggle="collapse" data-target="#giant-nav-contents-collapsable">
              <span class="giant-toggle-assist-span">toggle navigation</span>
              <div class="giant-nav-menu-hamburger-div">
                <span class="giant-hamburger-layer-span"></span>
                <span class="giant-hamburger-layer-span"></span>
                <span class="giant-hamburger-layer-span"></span>
              </div>
            </button>
          </div>
        </div>
        <div class="giant-nav-contents-always-outer-div">
          <div class="giant-nav-contents-always-inner-div">
            <div class="giant-brand-div"></div>
            <h2 class="giant-tagline-h2">RECRUITING FOR USER EXPERIENCE + CREATIVE + MARKETING</h2>
            <h2 class="giant-phone-number-h2">415.366.8855</h2>
          </div>
        </div>
        <div class="giant-nav-contents-collapsable-div" id="giant-nav-contents-collapsable">
          <div class="giant-nav-menu-div">
            <ul>
              <li><a href="/pages/clients">FOR CLIENTS</a></li>
              <li><a href="/pages/candidates">FOR CANDIDATES</a></li>
              <li><a href="/jobs">OPEN JOBS</a></li>
              <li><a href="/pages/contact">CONTACT US</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
