<header>
  <div class="giant-header-div-entire">
    <div class="giant-header-div-section-brand">
      <a class="giant-header-item-brand-image" href="/">
        <img src="/assets/giant-brand-logo.png"></img>
      </a>
      <h2 class="giant-header-item-brand-tagline">
          RECRUITING FOR USER EXPERIENCE + CREATIVE + MARKETING
      </h2>
    </div>
    <div class="giant-header-div-section-menu">
      <div class="giant-header-div-within-menu">
        <a class="giant-header-item-menu-link" href="/pages/clients">FOR CLIENTS</a>
        <a class="giant-header-item-menu-link" href="/pages/candidates">FOR CANDIDATES</a>
        <a class="giant-header-item-menu-link" href="/jobs">OPEN JOBS</a>
        <a class="giant-header-item-menu-link" href="/pages/contact">CONTACT US</a>
        <h2 class="giant-header-item-phone">
            415.366.8855
        </h2>
      </div>
    </div>
  </div>
</header>
