<div class="giant-job" id="<%= @job.id_scheme_ext %>">
  <% if local_assigns.has_key?(:including) && including.include?(:category) %>
    <%= render './application/job_category' %>
  <% end %>
  <%= render './application/job_details' %>
</div> <!-- /giant-job -->
