  <h4>
    <%  Job.categories.each_with_index do |cat, i| %>
      <%  if i > 0 %>
            &nbsp;|&nbsp;
      <%  end %>
      <%  if (iscat = (@job && @job.category == cat)) %> 
            <strong>
      <%  end %>
      <%= link_to cat, jobs_path(category: cat), class: 'giant-job-category' %>
      <%  if iscat %> 
            </strong>
      <%  end %>
    <%  end %>
  </h4>
