<div class="giant-section-logos-all-div">
  <div class="group-first-div">
    <div class="img-div"><img src="/assets/giant-logo-bbdo.svg"/></div>
    <div class="img-div"><img src="/assets/giant-logo-solarcity.svg"/></div>
    <div class="img-div"><img src="/assets/giant-logo-fitbit.svg"/></div>
    <div class="img-div"><img src="/assets/giant-logo-eventbrite-10pct.png"/></div>
    <div class="img-div"><img src="/assets/giant-logo-sumologic.svg"/></div>
    <div class="img-div"><img src="/assets/giant-logo-uber.svg"/></div>
  </div>
  <div class="group-second-div">
    <div class="img-div"><img src="/assets/giant-logo-sephora.svg"/></div>
    <div class="img-div"><img src="/assets/giant-logo-riverbed.svg"/></div>
    <div class="img-div"><img src="/assets/giant-logo-rh.svg"/></div>
    <div class="img-div"><img src="/assets/giant-logo-shaklee.svg"/></div>
    <div class="img-div"><img src="/assets/giant-logo-tibco.svg"/></div>
    <div class="img-div"><img src="/assets/giant-logo-publicis.svg"/></div>
  </div>
</div>
